@charset "UTF-8";

.c2 {
	width: 200px;
	height: 100px;
	display: inline;
	box-sizing: content-box;
}

.c3 {
	width: 200px;
	height: 100px;
	display: inline-block;
	box-sizing: content-box;
}

.c5 {
	width: 200px;
	height: 100px;
	display: inline;
	box-sizing: content-box;
}

.firstIMG {
	padding: 25px 25px 25px 25px;
}

.secondIMG {
	padding-left: 15px;
	padding-top:  5px;
}

.thirdIMG {
	margin-left: -20px;
}